@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,700&display=swap");
body {
  margin: 0;
  font-family: "Crimson Text", serif;
}

/*Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(175, 169, 169);
}
.nav-bar-logo {
  display: flex;
  align-content: center;
  text-align: center;
  color: black;
}
.nav-bar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* Navbar Mobil*/

@media all and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .nav-bar-logo {
    display: flex;
    justify-content: center;
  }
  .nav-bar-menu {
    padding-top: 10px;
  }
}
/*Navbar Component*/

nav a {
  text-decoration: none;
  color: black;
}
nav ul {
  text-decoration: none;
  list-style: none;
}
li {
  padding-right: 15px;
}
/*Navbar Component hover*/
.nav-bar-menu li :hover {
  color: white;
}
/*---------END NAVBAR -----------------*/

/*Intro-Profile - Content */
.intro-container {
  display: flex;
  flex-direction: row;
  height: 450px;
  background-color: rgb(245, 245, 245);
}
.aboutme-title {
  text-align: center;
  font-size: x-large;
}

.intro-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: large;
  color: black;
}
.intro-picture {
  padding-left: 30px;
  padding-top: 7rem;
  padding-right: 30px;
}
.intro-picture img {
  width: 200px;
  height: 300px;
  border-radius: 20px;
}

/*Mobil intro-Profile Conetnt*/
@media all and (max-width: 360px) {
  .intro-container {
    padding-bottom: 100px;
  }
  .intro-content {
    font-size: small;
  }
}
@media all and (max-width: 400px) {
  .intro-container {
    padding-bottom: 100px;
  }
  .intro-content {
    font-size: small;
  }
}
@media all and (max-width: 500px) {
  .intro-container {
    padding-bottom: 10px;
  }
  .intro-content {
    font-size: large;
  }
}
@media all and (max-width: 600px) {
  .intro-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 20px;
  }
  .intro-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-indent: 10px;
    padding-top: 20px;
    color: black;
    font-size: medium;
  }
  .intro-picture {
    display: flex;
    justify-content: center;
  }
}

/*Skills*/
.skills-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: rgb(175, 169, 169);
}

.skills-title h2 {
  text-align: center;
  padding-top: 20px;
  font-size: x-large;
  color: black;
}

.skills-element {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: larger;
}

/*Mobil Skills Conetnt*/
@media all and (max-width: 800px) {
  .skills-container {
    font-size: medium;
  }
}
@media all and (max-width: 360px) {
  .skills-container {
    height: fit-content;
    padding-bottom: 30px;
  }
  .skills-title h2 {
    color: black;
    text-align: center;
  }
  .skills-element {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
  }
}

@media all and (max-width: 460px) {
  .skills-container {
    height: fit-content;
    padding-bottom: 30px;
  }
  .skills-title h2 {
    color: black;
    text-align: center;
  }
  .skills-element {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
  }
}

@media all and (max-width: 540px) {
  .skills-container {
    height: fit-content;
    padding-bottom: 30px;
  }
  .skills-title h2 {
    padding-left: 50px;
  }
  .skills-element {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
  }
}

@media all and (max-width: 600px) {
  .skills-container {
    display: flex;
    flex-direction: row;
  }
  .skills-element {
    display: flex;
    flex-direction: column;
  }
}

/*Projects -content*/
.projects-container {
  height: 450px;
  background-color: whitesmoke;
  padding-bottom: 80px;
  text-align: center;
}

.project-display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bookmark.app {
  padding-top: 30px;
}
.project-title {
  padding-top: 50px;
  text-align: center;
  font-size: large;
}

h3 {
  text-align: center;
  font-size: large;
}
a {
  text-decoration: none;
}

.quiz-btn {
  display: flex;
  justify-content: space-evenly;
}

.bookmark-btn {
  display: flex;
  justify-content: space-evenly;
}

@media all and (max-width: 360px) {
  .projects-container {
    text-align: center;
    height: 550px;
  }
  .project-display {
    font-size: medium;
  }
}
@media all and (max-width: 411px) {
  .projects-container {
    text-align: center;
    height: 550px;
  }
}
@media all and (max-width: 414px) {
  .projects-container {
    text-align: center;
    height: 550px;
  }
}

@media all and (max-width: 600px) {
  .projects-container {
    text-align: center;
    height: 650px;
  }
  .project-display {
    font-size: medium;
  }
}
@media all and (max-width: 800px) {
  .projects-container {
    text-align: center;
  }
  .project-display {
    font-size: large;
  }
}
@media all and (max-width: 1024px) {
  .projects-container {
    text-align: center;
  }
  .project-display {
    font-size: large;
  }
}

/*Find me - Content */
.findme-container {
  display: flex;
  flex-direction: column;
  height: 450px;
  background-color: rgb(175, 169, 169);
}
.findme-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  color: black;
  font-size: large;
}

/* Mobil Find me Content */
@media all and (max-width: 360px) {
  .findme-container {
    text-align: center;
  }

  .findme-content {
    font-size: medium;
  }
}
@media all and (max-width: 600px) {
  .findme-container {
    display: flex;
    flex-direction: column;
    height: 450px;
    background-color: rgb(175, 169, 169);
  }

  .findme-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    color: black;
    font-size: medium;
  }
}
@media all and (max-width: 800px) {
  findme-container {
    display: flex;
    flex-direction: column;
    height: 450px;
    background-color: rgb(175, 169, 169);
  }

  .findme-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    color: black;
    font-size: medium;
  }
}
@media all and (max-width: 1024px) {
  findme-container {
    display: flex;
    flex-direction: column;
    height: 450px;
    background-color: rgb(175, 169, 169);
  }

  .findme-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    color: black;
    font-size: medium;
  }
}

/* Contact me*/
.contactme-continer {
  display: flex;
  flex-direction: column;
  height: 450;
  background-color: whitesmoke;
}

.contactme-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  color: black;
  font-size: large;
}
.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-box div {
  padding-bottom: 10px;
}

textarea {
  height: 100px;
  width: 200px;
}
/* Mobile Contact me*/

@media all and (max-width: 360px) {
  .contactme-continer {
    padding-bottom: 105px;
  }
}
@media all and (max-width: 460px) {
  .contactme-continer {
    padding-bottom: 105px;
  }
}
@media all and (max-width: 540px) {
  .contactme-continer {
    padding-bottom: 100px;
  }
}

@media all and (max-width: 600px) {
  .contactme-continer {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: whitesmoke;
  }
  .contactme-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    color: black;
    font-size: large;
  }
}
