@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,700&display=swap");
body {
  margin: 0;
  font-family: "Crimson Text", serif;
}

/*Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: coral;
}
.nav-bar-logo {
  display: flex;
  align-content: center;
  text-align: center;
  color: aquamarine;
}
.nav-bar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-top: 15px;
}
/*Mobil*/

@media all and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .nav-bar-logo {
    display: flex;
    justify-content: center;
  }
  .nav-bar-menu {
    padding-top: 10px;
  }
}
/*Navbar Component*/

nav a {
  text-decoration: none;
  color: white;
}
nav ul {
  text-decoration: none;
  list-style: none;
}
li {
  padding-right: 15px;
}
/*Navbar Component hover*/
.nav-bar-menu li :hover {
  color: black;
  box-shadow: black 2px 0px 0px 0px;
}
/*---------END NAVBAR -----------------*/

/*Profile - Content */
.intro-container {
  display: flex;
  flex-direction: row;
  height: 450px;
  background-color: rgb(230, 150, 121);
}
.profile-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  color: rgb(80, 114, 103);
}
.profile-picture {
  padding-left: 30px;
  padding-top: 7rem;
  padding-right: 30px;
}
.profile-picture img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

/*Mobil Profile Conetnt*/

@media all and (max-width: 600px) {
  .intro-container {
    display: flex;
    flex-direction: column;
    height: 750px;
  }
  .profile-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    color: rgb(80, 114, 103);
  }
  .profile-picture {
    display: flex;
    justify-content: center;
  }
}
/*About Me*/
.aboutme-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: aquamarine;
}
.aboutme-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  color: rgb(80, 114, 103);
}

.webdev-picture {
  display: inline-flex;
  flex-flow: row;
  padding-left: 30px;
  padding-right: 30px;
}

.webdev-picture img {
  padding-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.housekeeping-picture {
  display: inline-flex;
  flex-flow: row;
  padding-left: 30px;
  padding-right: 30px;
}

.housekeeping-picture img {
  padding-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.apps-picture {
  display: inline-flex;
  flex-flow: row;
  padding-left: 30px;
  padding-right: 30px;
}

.apps-picture img {
  padding-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

/*Mobil About Me Conetnt*/
@media all and (max-width: 800px) {
  .aboutme-container {
    padding-bottom: 250px;
  }
}

@media all and (max-width: 600px) {
  .aboutme-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 450px;
  }
  .aboutme-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    color: rgb(80, 114, 103);
  }
  .webdev-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .housekeeping-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .apps-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*Find me - Content */
.findme-container {
  display: flex;
  flex-direction: column;
  height: 450;
  background-color: rgb(230, 150, 121);
}
.findme-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  color: rgb(80, 114, 103);
}

/* Mobil Find me Content */
@media all and (max-width: 600px) {
  .findme-container {
    display: flex;
    flex-direction: column;
    height: 400px;
  }
  .findme-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    color: rgb(80, 114, 103);
  }
}

/* Contact me*/

.contactme-continer {
  display: flex;
  flex-direction: column;
  height: 450;
  background-color: aquamarine;
}

.contactme-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  color: rgb(80, 114, 103);
}
.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-box div {
  padding-bottom: 10px;
}

textarea {
  height: 100px;
  width: 400px;
}
/* Mobile Contact me*/
@media all and (max-width: 600px) {
  .contactme-continer {
    display: flex;
    flex-direction: column;
    height: 400px;
  }
  .contactme-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    color: rgb(80, 114, 103);
  }
}
